@model Creou.ConferenceApp.Server.Models.FeedbackReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeedbackReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatePresentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatePresentation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateSlides)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateSlides)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateDemos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateDemos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikeComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikeComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DislikeComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DislikeComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
