@model Creou.ConferenceApp.Server.Models.FeedbackReport

@{
	ViewBag.Title = "Session Feedback";
}
@using (Html.BeginForm())
{
	<h2>Session Feedback</h2>
	<div style="margin-bottom: 0; border-radius: inherit; max-width:800px" ng-disabled="formDisable">
		<span class="pull-left">@Model.Session.Title</span>
		<span class="pull-right">@Model.Session.Room.RoomName</span>
		<div class="clearfix"></div>
		<span class="pull-left">@Model.Session.Speaker.Name}}</span>
		<span class="pull-right">@Model.Session.Start - @Model.Session.End</span>
		<div class="clearfix"></div>
		<div class="form-group margin-top-10px">
			<label>Name:</label>
			<input class="form-control" ng-disabled="formDisable" ng-model="userName" />
		</div>
		<div class="form-group margin-top-10px">
			@Html.LabelFor(m => m.RatePresentation, "Was the presentation as described in the session abstract?")
			@Html.EditorFor(m => m.RatePresentation)
		</div>
		<div class="form-group margin-top-10px">
			<label>How would you rate each aspect of the session?</label>
		</div>
		<div class="row form-group margin-top-10px">
			<label class="star col-xs-3">Content</label>
			<rating class="col-xs-9" ng-model="rateContent" readonly="formDisable"></rating>
		</div>
		<div class="row form-group margin-top-10px">
			<label class="star col-xs-3">Delivery</label>
			<rating class="col-xs-9" ng-model="rateDelivery" readonly="formDisable"></rating>
		</div>
		<div class="row form-group margin-top-10px">
			<label class="star col-xs-3">Slides</label>
			<rating class="col-xs-9" ng-model="rateSlides" readonly="formDisable"></rating>
		</div>
		<div class="row form-group margin-top-10px">
			<label class="star col-xs-3">Demos</label>
			<rating class="col-xs-9" ng-model="rateDemos" readonly="formDisable"></rating>
		</div>
		<div class="clearfix"></div>
		<div class="form-group">
			<label>What did you like?</label>
			<textarea elastic style="overflow: hidden;" class="form-control" ng-model="commentLiked" ng-disabled="formDisable"></textarea>
		</div>
		<div class="form-group">
			<label>What didn't you like?</label>
			<textarea elastic style="overflow: hidden;" class="form-control" ng-model="commentDisliked" ng-disabled="formDisable"></textarea>
		</div>
		<div class="form-group">
			<label for="commentsGeneral">Any other comments?</label>
			<textarea elastic style="overflow: hidden;" ng-model="commentsGeneral" class="form-control" ng-disabled="formDisable"></textarea>
		</div>
		<button class="btn btn-default pull-left" ng-click="submit()" ng-disabled="formDisable">{{buttonText}}</button>
		<button class="btn btn-default pull-right" ng-click="back()">Back</button>
	</div>
}


@*
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>FeedbackReport</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.Id)

			<div class="form-group">
				@Html.LabelFor(model => model.RatePresentation, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.RatePresentation, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.RatePresentation, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.RateContent, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.RateContent, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.RateContent, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.RateDelivery, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.RateDelivery, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.RateDelivery, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.RateSlides, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.RateSlides, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.RateSlides, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.RateDemos, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.RateDemos, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.RateDemos, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.LikeComments, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.LikeComments, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.LikeComments, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.DislikeComments, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.DislikeComments, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.DislikeComments, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.GeneralComments, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.GeneralComments, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.GeneralComments, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
	}
*@